import(methods)
importFrom(utils,download.file)
importFrom(stats, setNames)

import(BiocGenerics)
importFrom(Biobase, createPackage)
import(S4Vectors)
import(IRanges)
import(GenomeInfoDb)
import(Biostrings)
import(rtracklayer)
import(BSgenome)

export(downloadGenomicSequencesFromNCBI)
export(downloadGenomicSequencesFromUCSC)
export(fastaTo2bit)
export(forgeBSgenomeDataPkgFromNCBI)
export(forgeBSgenomeDataPkgFromUCSC)
